* {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color:black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.maindiv {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 180px;
  height: 410px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-radius: 7px !important; */
}
.maindiv > img {
  height: 250px;
  width: 180px;
  /* zoom in - to avoid strech of image */
  object-fit: cover;
  margin-bottom: 5px;
  /* border-top-radius: 7px; */
}

.maindiv .details {
  text-align: left;
  margin:5px;
  /* color: white; */
}
.maindiv .details p {
  /* display:overflow-hidden; */
}
.maindiv .inner-detail{
  display:flex;
  justify-content:space-between;
}

/* Counter */


.counter > .lg-btn {
  margin-top: 3px;
  height: 30px;
  /* width:50px; */
  font-size: 15px;
  margin-right: 5px;
  border:none;
  background-color:white;
}
