* {
  margin: 0px;
  padding: 0px;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  /* background-color:black; */
  /* display: flex; */
  flex-wrap: wrap;
  margin-left:20px;
  justify-content: space-around;
}

.addmovieform{
  display:flex;
  flex-direction:column;
  gap:5px;
  /* height:15px; */
  width:300px;
  margin:20px;
  padding:10px;
  border-radius:10px;
  background-color:rgb(243, 241, 241);
}


.moviedatadiv{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.maindiv {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 10px;
  width: 280px;
  height: 610px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-radius: 7px !important; */
}
.maindiv > img {
  height: 450px;
  width: 280px;
  /* zoom in - to avoid strech of image */
  object-fit: cover;
  margin-bottom: 5px;
  /* border-top-radius: 7px; */
}

.maindiv .details {
  text-align: left;
  margin:5px;
  /* display:flex;
  flex-direction:column;
  justify-content: space-between; */

  /* color: white; */
}

.maindiv .inner-detail{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* Counter */

.counter{
  align-items:center;
  display:flex;
  justify-content:space-between;
}

.counter-badge{
  margin-right:20px;
  font-size:20px;
}
